.story {
  padding-top: 150px;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 30px;
}

.story-photo {
  float: left;
  width: 400px;
  height: 260px;
}

.show-story-title {
  font-size: 2.375rem;
}

.show-story-subtitle {
  font-size: 1.5rem;
}

.story-photo {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.story-content {
  font-size: 1.1rem;
  font-weight: lighter;
  padding-top: 450px;
}

.content1 {
  padding-top: 70px;
}
